.container {
  text-align: center;
  
}
.formSend{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
form > input , button {
  margin-left: 10px;
  padding: 10px;
}
.contCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.cards{
  border: 1px solid #350202;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  padding: 30px;
}
.cards > img {
  width: 100%;
  height: 350px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
